<!DOCTYPE html>
<html>
<head>
    <title>inWebo API Node JS Code Samples</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/signin.css">
    <meta charset="UTF-8">  
</head>
<body class="container">
    <h1 class=text-center>inWebo API Test Configuration</h1>
    {% if serviceId==0 %} 
        <p class="alert alert-danger"><b>Your serviceId is not configured</b></p>
    {% else %}
        <p class="alert alert-success">Your serviceId is  <b>{{ serviceId }}</b></p>
    {% endif %}

    {% if !certFile %} 
        <p class="alert alert-danger"><b>Your certfile is not configured</b></p>
    {% else %}
        <p class="alert alert-success">Your certfile is <b>{{ certFile }}</b></p>
    {% endif %}
    
    {% if !keyFile %} 
        <p class="alert alert-danger"><b>Your keyfile is not configured</b></p>
    {% else %}
        <p class="alert alert-success">Your keyfile is <b>{{ keyFile }}</b></p>
    {% endif %}

    {% if !certPassphrase %} 
        <p class="alert alert-danger"><b>Your certPassphrase is not configured</b></p>
    {% else %}
        <p class="alert alert-success">Your certPassphrase is <b>{{ certPassphrase }}</b></p>
    {% endif %}

    <form action="/" method="get">
        <button type="submit" class="btn btn-lg btn-default">Go Home</button>
    </form>
    
</body>
</html>